* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}

input{
  padding-left: 5px;
}

textarea{
  padding-left: 5px;
}
.container{
  text-align: center;
}
.pagination{
  padding-left: 43vw;
  margin-bottom: 100px;
}
.nav-link{
  line-height: 30px;
  font-size: 15px;
  padding: 0 5px;
  border: 1px solid #ACB6E5;
  border-radius: 5px;
  margin-left: 10px;
  color: #1d68a7;
}
.nav-link:hover{
  border: 1px solid #4c65d4;
  color: #212529;
}
.nav-bar{
  width: 80vw;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3vh 50px;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  left: 10vw;
  border: 1px solid orange;
}
.nav-bar a{
  text-align: center;
}
.nav-bar i{
  font-size: 30px;
}
.nav-bar p{
  font-size: 12px;
  margin-top: 5px;
}
.main-container{
  margin-top: 50px;
}

.form-title{
  font-size: 25px;
  margin-top: 20px;
}


.selected-food-display{
  width: 400px;
  height: 40px;
  background-color: white;
  border: 1px solid dimgray;
  border-radius: 3px;
  margin: 0 auto;
  line-height: 40px;
  position: relative;
  margin-bottom: 50px;
}
.search-food-result{
  position: absolute;
  top: 39px;
  left: -1px;
  width: 400px;
  background-color: white;
  border: 1px solid dimgray;
  border-top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 0 auto;
}
.selected-food-name{
  overflow-x: hidden;
}
.search-food-input{
  margin-top: 5px;
  width: 380px;
  height: 30px;
  line-height: 30px;
}
.food-name-list{
  width: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 5px;
}
.each-food-name{
  cursor: pointer;
  font-size: 12px;
}
.each-food-name:hover{
  background-color: rgb(200, 200, 200);
}