* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}

input{
  padding-left: 5px;
}

textarea{
  padding-left: 5px;
}
.container{
  text-align: center;
}
.pagination{
  padding-left: 43vw;
  margin-bottom: 100px;
}
.nav-link{
  line-height: 30px;
  font-size: 15px;
  padding: 0 5px;
  border: 1px solid #ACB6E5;
  border-radius: 5px;
  margin-left: 10px;
  color: #1d68a7;
}
.nav-link:hover{
  border: 1px solid #4c65d4;
  color: #212529;
}
.nav-bar{
  width: 80vw;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3vh 50px;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  left: 10vw;
  border: 1px solid orange;
}
.nav-bar a{
  text-align: center;
}
.nav-bar i{
  font-size: 30px;
}
.nav-bar p{
  font-size: 12px;
  margin-top: 5px;
}
.main-container{
  margin-top: 50px;
}