.header-container{
  width: 100vw;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.top-title{
  font-family: 'Bangers', cursive;
  width: 500px;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 100px;
  color: white;
  background: -webkit-linear-gradient(0deg, #ff9900, #ffdc42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 0 10px 0.5 5px rgba(0,0,0,0.4);
}
.auth-nav{
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.welcome-message{
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  margin-right: 10px;
}