.header-container{
  width: 100vw;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}
.header-container-top-bar{
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.header-logo{
  width: 250px;
  height: 50px;
}
.auth-nav{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
.auth-nav a{
  margin-top: 10px;
  height: 30px;
}
.welcome-message{
  text-align: center;
  font-size: 15px;
  line-height: 50px;
  margin-right: 10px;
}
