.selected-food-display{
  width: 400px;
  height: 40px;
  background-color: white;
  border: 1px solid dimgray;
  border-radius: 3px;
  margin: 0 auto;
  line-height: 40px;
  position: relative;
  margin-bottom: 50px;
}
.search-food-result{
  position: absolute;
  top: 39px;
  left: -1px;
  width: 400px;
  background-color: white;
  border: 1px solid dimgray;
  border-top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 0 auto;
}
.selected-food-name{
  overflow-x: hidden;
}
.search-food-input{
  margin-top: 5px;
  width: 380px;
  height: 30px;
  line-height: 30px;
}
.food-name-list{
  width: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 5px;
}
.each-food-name{
  cursor: pointer;
  font-size: 12px;
}
.each-food-name:hover{
  background-color: rgb(200, 200, 200);
}

.ate-table{
  margin: 20px auto 50px;
  width: 950px;
  border: 1px solid dimgray;
  overflow: hidden;
}
.ate-table-row{
  width: 950px;
  display: flex;
  border-top: 1px solid dimgray;
}
.first-row{
  border: none;
}
.ate-table-cell{
  width: 100px;
  text-align: center;
  background-color: white;
  border-left: 1px solid dimgray;
  font-size: 13px;
  line-height: 30px;
}
.ate-table-cell-left{
  border: none;
}
.left-cell{
  width: 50px;
  border: none;
}

.ate-index{
  margin: 0 auto 50px;
  width: 900px;
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid dimgray;
  background: whitesmoke;
  border-top: none;
}
.ate-index-row{
  width: 900px;
  display: flex;
  border-top: 1px solid dimgray;
  border-bottom: 1px solid dimgray;
  background: white;
}
.ate-index-row-first{
  margin: 20px auto 0;
  width: 900px;
  border: 1px solid dimgray;
}
.ate-food-name{
  font-size: 15px;
  color: forestgreen;
}
.ate-food-name-container{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 15px;
}
.delete-link{
  color: maroon;
  width: 60px;
}