.selected-food-display{
  width: 400px;
  height: 40px;
  background-color: white;
  border: 1px solid dimgray;
  border-radius: 3px;
  margin: 0 auto;
  line-height: 40px;
  position: relative;
  margin-bottom: 50px;
}
.search-food-result{
  position: absolute;
  top: 39px;
  left: -1px;
  width: 400px;
  background-color: white;
  border: 1px solid dimgray;
  border-top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 0 auto;
}
.selected-food-name{
  overflow-x: hidden;
}
.search-food-input{
  margin-top: 5px;
  width: 380px;
  height: 30px;
  line-height: 30px;
}
.food-name-list{
  width: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 5px;
}
.each-food-name{
  cursor: pointer;
  font-size: 12px;
}
.each-food-name:hover{
  background-color: rgb(200, 200, 200);
}

.ate-table{
  margin: 50px auto;
  width: 1100px;
  border: 1px solid dimgray;
  overflow: hidden;
}
.ate-table-row{
  width: 1100px;
  display: flex;
  border-top: 1px solid dimgray;
}
.first-row{
  border: none;
}
.ate-table-cell{
  width: 100px;
  text-align: center;
  background-color: white;
  border-left: 1px solid dimgray;
  font-size: 13px;
}
.left-cell{
  width: 200px;
  border: none;
}