.post-form-container{
  text-align: center;
  border: 1px solid dimgray;
  border-radius: 3px;
  width: 60vw;
  margin: 20px auto 50px;
  background: lightyellow;
  padding: 30px;
}
.post-input{
  width: 400px;
  line-height: 40px;
  background-color: white;
  border: 1px solid dimgray;
  border-radius: 3px;
  font-size: 20px;
}
.input-date{
  width: 200px;
}
.input-quantity{
  width: 150px;
}
.post-info-input{
  background-color: white;
  border: 1px solid dimgray;
  border-radius: 3px;
  width: 50vw;
}
.form-label{
  font-size: 20px;
  margin-top: 20px;
  color: orange;
  margin-bottom: 5px;
}
.post-form-notice{
  font-size: 11px;
  color: #666;
  margin-bottom: 5px;
}
.like-box{
  display: flex;
}
.like-btn-wrapper{
  border: none;
  background: white;
}
.like-btn-wrapper:focus {
	outline:0;
}
.like-button{
  margin-right: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 30px;
}
.un-like-button{
  color: crimson;
}
.like-count{
  font-size: 15px;
  line-height: 30px;
}
