.search-form{
  text-align: center;
}
.search-input{
  width: 400px;
  line-height: 40px;
}
.search-btn{
  width: 50px;
  line-height: 40px;
  vertical-align: middle;
  background-color: gold;
  border-radius: 3px;
  border: 2px solid orange;
}
.search-btn i{
  font-size: 20px;
  color: white;
}
.top-title-text{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.each-post{
  margin: 0 auto 70px;
  display: flex;
  width: 50vw;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  background: white;
}
.image-wrapper{
  position: relative;
  overflow: hidden;
  background: white;
}
.post-image-wrapper{
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 30vw;
  height: 30vw;
}
.inside-image{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.right-box{
  width: 20vw;
}
.top-bar{
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.user-info{
  display: flex;
}
.user-image-wrapper{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.user-name{
  font-weight: bold;
  line-height: 80px;
  font-size: 15px;
  overflow: hidden;
}
.user-link{
  margin-top: 25px;
  height: 30px;
  width: 50px;
  background-color: darkorange;
  border: none;
  border-radius: 5px;
  text-align: center;
  border-bottom: solid 1px peru;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.user-link:hover{
  background-color: chocolate;
}
.user-link i{
  font-size: 15px;
  color: white;
  line-height: 30px;
}
.post-title{
  padding: 0 20px;
  line-height: 50px;
  font-size: 15px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
}
.post-content{
  padding: 20px;
  width: 20vw;
  height: calc(30vw - 250px);
  font-size: 12px;
  overflow-y: scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.post-tags{
  padding: 0 20px;
  line-height: 40px;
  height: 40px;
  font-size: 12px;
  overflow-y: scroll;
}
.post-tags a{
  background-color: rgba(200, 200, 200, 0.5);
  padding: 5px;
  border-radius: 3px;
}
.like-bar{
  display: flex;
  line-height: 30px;
}
.under-bar{
  height:80px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px 10px;
}
.post-date{
  line-height: 30px;
  font-size: 12px;
  color: rgb(128, 128, 128);
  margin-left: 10px;
}
.comment-form{
  display: flex;
}
.comment-input{
  width: 75%;
  border: 1px solid rgba(0, 0, 0, 0.247);
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  vertical-align : middle;
  padding-left: 5px;
}
.comment-btn{
  width: 23%;
  height: 30px;
  vertical-align : middle;
  border: 1px solid rgba(0, 0, 0, 0.247);
  background-color: whitesmoke;
  color: steelblue;
  font-size: 13px;
  border-radius: 3px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.comment-input-guest{
  font-size: 10px;
}